.body-content nav{
  color: #212529;


}

.body-content {

}
.text{
font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.footer {
  width: 100%;
 
  bottom: 0;
  padding-bottom: 3%;
  
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */

  
  
  
}

.footer i {
    color: wheat;
   font-size: 3em;
   
}

.navbar {

}


.about-section p {
  font-family: 'Raleway', sans-serif;
  line-height: 32px;
  padding: 20px 40px 20px 20px;
}

.about-section h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
   color: var(--text-color);
   padding-left: 20px ;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.intro-paragraph {
  margin-top: 7%;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}